* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-size: 14px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding: 0 15vh;
}

.font-20 {
  font-size: 20px;
  font-weight: 600;
}
.banner img {
  width: 100% !important;
}
/*header trên*/
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header-information {
  padding: 12px 100px;
  height: 44;
  align-items: center;
  background: linear-gradient(90deg, #024b80 0%, #1babe2 100%);
}
.wrapper-header {
  display: flex;
  justify-content: flex-end;
}
.header-information-list {
  display: flex;
  gap: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: white;
}
.header-information-item {
  display: flex;
  gap: 8px;
}
.header-information-item img {
  justify-content: center;
  align-items: center;
}

/*end header trên*/
/*header dưới*/
/* res nav */
.toggle-btn {
  display: none;
  float: right;
}
.header-nav-list a:hover {
  color: #f47f20;
}
.drop-menu {
  transition: opacity 1s ease-in-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 16px 16px 16px;
  display: none;
  z-index: 1;
  top: 50px;
  background-color: white;
}
.drop-menu a {
  font-size: 12px;
}
/* end res nav */
.header-nav-list a:first-child {
  display: none;
}
.header-nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5vw;
  width: 100%;
}

.header-nav-list {
  font-weight: 600;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-item {
  font-weight: 600;
  height: auto;
  max-width: 100%;
}
.header-nav-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.nav-search {
  display: flex;
}
.nav-search input {
  height: 40px;
  padding: 12px 24px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  background: var(--gray-200, #eee);
  align-items: center;
}
.nav-search button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f47f20;
}
/*  */
/* product-card */
.product-item {
  position: relative;
  border: 1px solid var(--gray-300, #e0e0e0);
  display: flex;
  width: fit-content;
  height: auto;
  flex-direction: column;
  padding: 16px;
}
.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.product-information {
  padding: 16 0 16px 16px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.product-name {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.product-price-now {
  color: #f00000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.product-price-past {
  display: flex;
  gap: 8px;
}
.product-price-under {
  font-size: 16px;
  color: var(--gray-500, #9e9e9e);
  font-weight: 400;
  line-height: 160%;
  text-decoration-line: line-through;
}
.discount {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f00000;
  background-color: #ffe9d8;
  border-radius: 4px;
  padding: 4px;
}
.product-tag {
  width: 100%;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.product-item:hover .product-image {
  transform: scale(1.2);
}
/*end product */

/* pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.pagination button {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  color: #bdbdbd;
  background-color: white;
}

.pagination #btn-lr {
  display: flex;
  padding: 0;
  justify-content: center;
  background-color: e0e0e0 !important;
}

.pagination #btn-active {
  color: white;
  background: #f47f20;
  border: none;
}
/* end pagination */
/* esunlock  */
.esunlock {
  background-image: url("../img/images/bg-esunlock.png");
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.esun-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 0;
  gap: 30px;
  width: 100%;
  height: 100%;
}
.img-layer {
  display: flex;
  justify-content: flex-end;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.esun-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
  max-width: 500px;
  width: 100%;
}
.detail-title {
  font-size: 28px;
  font-weight: 600;
}
.detail-text {
  font-size: 16px;
  line-height: 150%;
}
.detail-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detail-list-item {
  display: flex;
  gap: 8px;
}
.btn-detail {
  margin-top: 16px;

  padding: 12px 24px;
  background: #f47f20;
  color: white;
  border: none;
}
/* esunlock */
/* dùng chung */
.title-border {
  padding: 8px;
  align-items: center;
  border-radius: 0px 12px 0px 0px;
  background: #037dae;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.btn-white {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.btn-white button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  color: #797979;
  background-color: white;
}

.btn-white button:hover {
  border: 2px solid #037dae;
  color: #037dae;
}

.news-item {
  display: flex;
}

.news-item-right {
  margin-left: 20px;
}
.news-item-title {
  font-size: 16px;

  font-weight: 600;
}
.news-item-text {
  font-weight: 400;
  color: #616161;
}
.news-info {
  display: flex;

  font-weight: 400;
  color: Gray/600;
  gap: 16px;
  margin-top: 12px;
}
.news-info img {
  height: 1em;
}
.news-info-item {
  display: flex;
  gap: 2px;
}
.news-title {
  text-transform: uppercase;
  margin-top: 8px;
}
.news-text {
  margin-top: 8px;
  font-weight: 400;
  color: #616161;
}
.content-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  width: 100%;
}

.search-form {
  display: flex;
  padding: 8px;
  background: #f5f5f5;
  align-items: center;
}
.search-form input {
  height: 48px;
  width: 100%;
  flex: 1;
  padding: 12px 0 12px 14px;
  align-items: center;
  border: none;
}
.search-form button {
  width: 48px;
  height: 48px;
  padding: 15px;
  background: #037dae;
  border: none;
}

.search-filter {
  margin-top: 40px;
}

.filter-brand {
  display: flex;
  flex-direction: column;
  padding: 12px !important;
  background: #f5f5f5;
}

.brand-item {
  padding: 12px !important;
  background: white;
  display: flex;
  gap: 8px;
  padding: 12px 0;
}

/* end dùng chung */

footer {
  position: relative;
  background: var(--ln, linear-gradient(90deg, #024b80 0%, #1babe2 100%));
  color: white;
  font-family: inherit;
  margin-top: 80px;
}
.vector-layer img {
  padding: 0 !important;
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.information {
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.information p {
  margin: 24px 0;
  font-weight: 300;
}
footer span {
  font-weight: 600;
}
.bot-footer .container {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bot-footer .container div {
  margin-right: 10px;
}

/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {
  .logo img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
  }
  .content-right {
    gap: 10px;
  }
  /* header */
  .wrapper {
    padding: 0 50px;
  }
  body {
    font-size: 8px;
  }
  .header-information-item {
    font-size: 8px;
  }

  .header-nav {
    height: 60px;
    font-size: 12px;
  }
  .title-category {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .nav-search input {
    padding: 4px 8px;
  }
  .drop-menu {
    display: none !important;
  }
  /* end header */

  /* middle */
  /* left-tag */
  .search-form {
    padding: 4px;
  }
  .search-form input {
    height: 30px;
  }

  .search-form button {
    height: 30px;
    width: 30px;
    padding: 5px;
  }

  .search-filter {
    margin-top: 15px;
  }
  .filter-brand {
    font-size: 10px;
  }
  /* end left-tag */
  /* end middle */
  /* footer */
  footer {
    margin-top: 30px;
  }
  .information {
    padding: 20px 0 0 0;
  }

  .bot-footer {
    margin-bottom: 10px;
  }

  .information img {
    width: 40px;
    height: 40px;
  }
  .information p {
    margin: 10px;
  }

  .footer-social img {
    width: 20px;
    height: 20px;
  }
  .logo-bottom img {
    width: 60px;
  }
  /* end footer */

  /* dropdown  */
  .dropdown-content {
    top: 60px !important;
  }
}

/* moblile */

@media (max-width: 768px) {
  .dropdown {
    display: none !important;
  }
  .wrapper {
    padding: 0px !important;
  }
  /* sticky header */
  .header-nav {
    z-index: 2;
    position: fixed;
    top: 0;
    border-bottom: #9e9e9e solid 0.5px;
  }
  /* end sticky */
  /* header ẩn */
  .wrapper {
    padding: 0 30px;
  }
  body {
    font-size: 6px;
  }
  .header-information {
    display: none;
  }
  .header-nav-list a:not(a:first-child) {
    display: none;
  }
  .header-nav-list a:first-child {
    display: block !important;
    font-size: 12px;
    float: left;
  }
  .toggle-btn {
    display: block;
    float: right;
  }

  .nav-search {
    display: none;
  }

  .logo img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
  }
  .header-nav {
    height: 50px !important;
  }
  /* end header */
  .banner {
    margin-top: 50px;
  }

  /* product card */
  .product-item {
    max-width: 100%;
    height: auto;

    padding: 8px;
  }

  .product-information {
    padding: 8px;
  }

  .product-name {
    margin: 0;
  }
  .product-list {
    grid-template-columns: 1fr 1fr !important;
    justify-content: center; /* Căn ngang giữa */
    align-items: center;
  }
  /* middle */
  /* left-tag */
  .title-border {
    font-size: 10px;
  }
  .search-form {
    padding: 4px;
  }
  .search-form input {
    height: 15px;
    font-size: 8px;
    padding: 0;
  }

  .search-form button {
    height: 15px;
    width: 15px;
    padding: 3px;
  }

  .search-filter {
    margin-top: 10px;
  }
  .filter-brand {
    font-size: 8px;
  }
  /* end left-tag */
  /* pagination */
  .pagination {
    margin-top: 25px !important;
    gap: 6px;
  }
  .pagination button {
    height: 20px;
    width: 20px;
  }
  /* end middle */
  /* footer */
  footer {
    margin-top: 20px;
  }
  .information {
    padding: 15px 0 0 0;
  }

  .bot-footer {
    margin-bottom: 5px;
  }

  .information img {
    width: 30px;
    height: 30px;
  }
  .information p {
    margin: 6px;
  }

  .footer-social img {
    width: 15px;
    height: 15px;
  }

  .logo-bottom img {
    width: 45px;
  }
  /* end footer */
}

/* dropdown menu */
/* Style cho button trong dropdown */
.dropbtn {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Style cho container của dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style cho nội dung của dropdown */
.dropdown-content {
  top: 60px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style cho các mục trong dropdown */
.dropdown-content a {
  background-color: white;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover effect cho các mục trong dropdown */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Hiển thị nội dung của dropdown khi hover vào button */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}
