.gioithieu-banner {
  max-width: 100%;
  width: 100%;
  height: 300x;
}
.gioithieu-banner img {
  width: 100%;
}
.esunlock-gioithieu {
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gioithieu-brand-logo {
  margin: 40px 0 120px 0;
  display: flex;
  gap: 76px;
  align-items: center;
  justify-content: center;
}
