.banner {
  width: 100%;
}

/*end header dưới*/

/* product */

.product {
  margin-top: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.product-tittle {
  margin-bottom: 32px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

/* end product */

/* brand */
.product-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.brand-logo-item button {
  height: 60px;
  width: 186px;
  display: flex;
  padding: 32px 10px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #e0e0e0);
  background-color: white;
  justify-content: center;
  align-items: center;
}
.brand-logo-item button:hover {
  border: 2px solid #037dae;
  background: #f5f5f5;
}
.layout-brand {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.product-under {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 28px;
}

.btn-more-product {
  display: flex;
  height: 48px;
  padding: 12px 24px;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #f47f20;
  border: 1px solid #f47f20;
  background-color: white;
}

.btn-more-product:hover {
  color: white;
  background-color: #f47f20;
}
/* end brand */

/* esunlock detail */

/* end esunlock detail */

/* news */
.title-category {
  margin-top: 120px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.news {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-content {
  max-width: 1440px;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.content-left {
  height: auto;
  width: 100%;
}

/* end news*/

/* contact */
.contact {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-layout {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.info-title {
  margin-bottom: 16px;
}

.info-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-form input {
  width: 100%;
  max-width: 605px;
  height: 48px;
  padding: 2px 20px;
  border-radius: 4px;
  border: 1px solid var(--gray-400, #bdbdbd);
  background: #fff;
  font-size: 12px;
  font-weight: 400;
}
.btn-form {
  width: 151px;
  height: 48px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #f47f20;
  border: 1px solid #f47f20;
  background-color: white;
}
input.form-text {
  height: 130px;
  padding: 20px !important;
}
.gg-map {
  width: 50%;
}
.gg-map img {
  width: 100%;
  height: 100%;
}
/* end contact */

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* slideshow */
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slides {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 calc(100% / 5);
  opacity: 0;
  transition: opacity 2s ease-in-out;
  display: none;
}

.slide.active {
  display: block;
  opacity: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 10px;
  transition: background-color 0.5s ease-in-out;
  background-color: #f47f20;
}
.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: #ccc;
}

/* slide 2 */
.mySlides {
  display: none;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.slider-contanier {
  display: flex;
  align-items: center;
}

.btn-next {
  padding: 3px 10px;
  background-color: #f47f20;
  border: none;
}

.float {
  user-select: none; /* Ngăn chọn văn bản bên trong */
  pointer-events: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 55%;
  right: 40px;

  text-align: center;

  z-index: 666;
}

.my-float {
  margin-top: 22px;
}

.float img {
  animation: moveIcon 3s infinite linear;
}
@keyframes moveIcon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-movetop {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;
  background-color: #f47f20;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 666;
}
.float-movetop:hover {
  background-color: #bdbdbd;
}
.my-float {
  margin-top: 22px;
}

.float img {
  animation: moveIcon 3s infinite linear;
}
@keyframes moveIcon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
