*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
	height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
body {
	background: #ffffff;
	color: #fff;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	white-space: normal;
	position: relative;
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
input,
select,
textarea { 
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 1.1em;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 30px;
}
p {
	margin-bottom: 20px;
}
a {
	color: #fff;
	text-decoration: none;
}
a > * {
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover, a > *:hover, a:focus {
	text-decoration: none;
	outline: 0;
}
img {
	background-color: transparent;
	border: 0;
	font-size: 0;
	line-height: 0;
	max-width: 100%;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}
ul {
	list-style:none;
}
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 10001;
}
#loading-animation {
    width: 120px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading-animation.GIF);
    background-repeat: no-repeat;
    background-position: center;
    margin: -60px 0 0 -64px;
}
#gradient {
	left: -25%;
	top: -25%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	z-index: -999999;
	position: fixed;
	width: 150%;
	height: 150%;
	-webkit-background-size: cover;
	background-size: cover;
}
.section-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.section-overlay {
	background: rgba(0, 0, 0, .3) !important;
}
.image-background {
    background: url(../images/bg.jpg) center center / cover no-repeat fixed;
}
.containers {
    padding: 30px;
    height: 100%;
    text-align: center;
    position: relative;
}
.header {
	width: 100%;
	overflow: hidden;
}
.logo {
	width: 100%;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}
.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
	z-index: 1;
}
.hotline {
	margin-top: 70px;
	font-size: 18px;
	line-height: 25px;
}
.socials-icons > ul {
	font-size: 20px;
	line-height: 25px;
	list-style: none;
	margin: 0 auto 20px;
	padding: 0;
}
.socials-icons > ul > li {
	display: inline-block;
	margin: 0 15px;
}
.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	z-index: 1;
}
.footer .s-wp {
	white-space: nowrap;
}
@media(max-width:540px){
	body {
		font-size: 14px;
		line-height: 20px;
	}
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 17px;
	}
}



