.banner {
  background-image: url("../img/images/tintuc-banner.png");
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
}
.middle {
  display: flex;
  gap: 31px;
}

.banner-text {
  color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.banner-title {
  font-size: 50px;
  font-weight: 600;
}

.banner-text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.title-tag {
  width: fit-content !important;
  padding: 8px 16px;
}

.post-section {
  width: 75%;
}
.post-news {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 16px;
  row-gap: 40px;
}

.post-item img {
  width: 100%;
}

.item-title {
  margin-top: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.paginate-tintuc {
  display: flex;
  justify-content: center;
}

.pagination #btn-blue {
  background-color: 037DAE;
  color: white !important;
  border: none;
}

.tag-section {
  width: 25%;
}

.category-list {
  padding: 0px 10px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.hot-post {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
