@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding: 0 50px;
  }
  body {
    font-size: 8px;
  }
  .header-information-item {
    font-size: 8px;
  }

  .header-nav {
    height: 60px;
  }
  .title-category {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .nav-search input {
    padding: 4px 8px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  .brand-logo-item button {
    padding: 21px 7px;
    width: 120px;
    height: 40px;
  }

  .product-under {
    grid-template-columns: repeat(3, 1fr);
  }
  .esun-detail {
    padding: 40px 0;
  }
  .detail-title {
    font-size: 20px;
  }

  .detail-text {
    font-size: 12px;
  }

  .btn-white button {
    padding: 8px 16px;
  }
}
